# App server
gunicorn==19.3.0

# Django
Django==1.9

# Alarm
ethereum-alarm-clock-client==0.7.0

# Django Storage
django-storages>=1.1.8
django-pipeline>=1.4.7
django-s3-folder-storage>=0.2
boto>=2.34.0

# REST
djangorestframework==3.3.2

# Images
Pillow>=2.6.1

# Database
psycopg2>=2.5.4

# Timezone support
pytz>=2014.10

# Configuration
python-dotenv>=0.1.2
env-excavator>=1.2.0
dj-database-url>=0.3.0
django-cache-url>=0.8.0

# Monitoring
rollbar>=0.9.9
PyReact==0.5.2
