<!DOCTYPE html>
{% load static pipeline %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Reliability Canary{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        {% stylesheet 'dependencies' %}
        {% stylesheet 'project' %}

        {% block extra_css %}
        {% endblock %}
    </head>

    <body>
    {% block body %}
      <nav class="navbar navbar-light bg-faded navbar-fixed-top">
        <a class="navbar-brand" href="{% url 'site-index' %}">Reliability Canary</a>
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item"><a class="nav-link" href="//www.ethereum-alarm-clock.com">Main</a></li>
          <li class="nav-item"><a class="nav-link" href="//docs.ethereum-alarm-clock.com">Documentation</a></li>
          <li class="nav-item"><a class="nav-link" href="//blog.ethereum-alarm-clock.com">Blog</a></li>
        </ul>
      </nav>
        <div class="main-content">
            {% block content_wrapper %}
            {% endblock content_wrapper %}
            <div id="footer" class="container">
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <ul class="list-inline">
                            <li>Created by Piper Merriam - <a href="https://github.com/pipermerriam/" target="_blank">github</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% javascript 'dependencies' %}
        {% javascript 'config' %}
        {% javascript 'stores' %}
        {% javascript 'actions' %}
        {% javascript 'components' %}
        {% javascript 'project' %}


        {% block extra_javascript %}
        {% endblock %}
    {% endblock body %}
    </body>
</html>
