{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content_wrapper %}
<div class="container">
    <div id="home-top" class="row">
        <div class="col-md-12">
            <h1>Ethereum Alarm Clock</h1>
        </div>
        <div class="col-md-6 col-md-offset-5">
            <h2>Schedule Contract Function Calls</h2>
            <ul class="lead">
                <li>An ethereum contract that facilitates scheduling function
                    calls for a specified block in the future.</li>
                <li>Function calls can be scheduled to be executed against any
                    contract</li>
                <li>Scheduling can be done by contracts or ethereum account
                    holders.</li>
                <li>Fully contained within the ethereum network.</li>
            </ul>
        </div>
    </div>

    <div id="home-addresses" class="row contract-address">
        <div class="col-md-12">
            <h2>Alarm Contract Address</h2>
            <code>0xe109ecb193841af9da3110c80fdd365d1c23be2a</code>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="home-features" class="page-header">
                <h1 id="home-features" >Features</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Scheduling</h3>
                </div>
                <div class="panel-body">
                    Schedule any contract function to be called a specified block
                    number in the future.
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><span class="glyphicon glyphicon-time" aria-hidden="true"></span> In Network</h3>
                </div>
                <div class="panel-body">
                    Fully implemented as an ethereum contract with no external
                    services.
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Decentralized</h3>
                </div>
                <div class="panel-body">
                    Call execution can be done by anyone operating an ethereum
                    node.  No single point of failure.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Verifiable Source</h3>
                </div>
                <div class="panel-body">
                    Contract code can be verified against the published source.
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Trustless</h3>
                </div>
                <div class="panel-body">
                    Service implements no administrative functionality or
                    special access to any address.
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Public Property</h3>
                </div>
                <div class="panel-body">
                    The Alarm service does not implement <code>suicide</code>.
                    You can count on it remaining available forever.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Documentation</h3>
                </div>
                <div class="panel-body">
                    The Alarm service is thoroughly documented with plenty of
                    examples to help get you started.
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Safely call any function.</h3>
                </div>
                <div class="panel-body">
                    The Alarm service supports designation of certain addresses
                    as <strong>authorized schedulers.</strong>  Contracts can
                    trust authorized calls were scheduled by an address that
                    they authorized, allowing you to schedule calls to
                    functions that would normally not be publicly callable.
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Get paid to execute call.</h3>
                </div>
                <div class="panel-body">
                    Anyone can execute scheduled calls, earning ether by doing
                    so.
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content_wrapper %}
