body {
  padding-top: 54px;
}

.icon-eth-address {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0 2px 2px, inset rgba(0, 0, 0, 0.6) 0 -1px 8px;
}

.icon-eth-address-large {
  width: 64px;
  height: 64px;
}

.icon-eth-address-small {
  width: 18px;
  height: 18px;
}


.address-header {
  height: 64px;
  margin-bottom: 10px;
}
